<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input type="checkbox" class="form-check-input" name="" id="" [(ngModel)]="taskStatus">
                <input type="text" class="form-control" name="newTask" id="newTask" aria-describedby="newTaskId"
                    placeholder="What to do" [(ngModel)]='myTask' required>
                <button type="button" name="add" id="add" class="btn btn-primary btn-block" (click)="submit(task.id)">
                    Submit
                </button>
            </div>
        </div>

        <div class="col-md-6">
            <table class="table table-striped table-inverse table-responsive" *ngIf="tasks">
                <thead class="thead-inverse">
                    <tr class="center">
                        <th>#</th>
                        <th>Task Name</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let task of tasks; let i=index">
                        <td>{{i + 1}}</td>
                        <td>{{task.title}}</td>
                        <td>
                            <div *ngIf="task.completed; else elseBlock">Completed</div>
                            <ng-template #elseBlock>Pending</ng-template>
                        </td>
                        <td><a name="" id="" class="btn btn-primary" href="#" role="button" (click)='delete(task.id)'><i
                                    class="far fa-trash-alt"></i></a>
                            <a name="" id="" class="btn btn-primary" href="#" (click)="fillIt(task)"
                                role="button"><i class="far fa-edit"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>